body {
  background-color: #121212;
  color: #f1f1f1;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.heading-container {
  margin: 15px 0;
}

.row-container {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.movieCard {
  position: relative;
  margin: 25px 20px;
  transition: transform 0.2s;
}

.movieCard:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.movieCard:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.favorite-message{
  margin-right: 5px;
}
